# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
*.egg-info/

# Data
data/raw/*
data/processed/*
*.csv
*.pkl
*.joblib

# Secrets
.env
*.pem
*.key

# IDEs
.vscode/
.idea/

# OS
.DS_Store.env

# AWS Credentials
.env

# Models directory
/models/best_model.pkl
/models/*.pkl

# Pero NO ignores los .dvc files
!/models/*.dvc
